main > div {
    border-style: solid;
    border-color: SlateBlue;
    border-radius: 30px;
    margin: 100px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
    background: rgba(4, 242, 250, 0.3);
}

main h1 {
    background-color: SlateBlue;
    text-align: center;
}

body {
    background: url("photos/IMG_1203.JPG") fixed no-repeat;
    background-size: cover;
    position: relative;
}

footer {
    border-style: solid;
    border-color: SlateBlue;
    border-radius: 30px;
    background: rgba(4, 242, 250, 0.3);
    margin: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

a:hover {
    color: slateblue;
  }
